@model BDMS.Models.DesignationModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("New", "Designation", FormMethod.Post, new { @id = "Singupform" }))
 {
    <div class="card mt-12 card-body">

        <form class="needs-validation" novalidate="">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Designation</label>
                    @Html.TextBoxFor(d => d.DesignationName, new { @class = "form-control", @id = "validationCustom01", @placeholder = "First Name", required = "" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Remarks</label>
                    @Html.TextBoxFor(d => d.Remarks, new { @class = "form-control", @id = "validationCustom02", @placeholder = "Last Name", required = "" })
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <button class="btn btn-primary pull-right" type="submit">Submit</button>
            </div>
        </form>
    </div>
 }


