
@{ ViewBag.Title = "Donor";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="content-panel" style="padding: 60px;">
    <div class="container content">
        <div class="row">
            <div class="col-md-7 col-sm-8 left-content">
                <div class="introduction" style=" margin-bottom: 30px; margin-bottom: 30px;">
                    <h2 class="page-title" style=" padding-bottom: 5px; border-bottom: 1.5px solid #d14461;"><span style=" color: #d14461; font-size: 24px; font-weight: 300;">Welcome to Nepal Blood: <span class="small-size" style="font-size: 18px; border-bottom: none;">online blood bank</span></span></h2>

                    <p><strong>Nepal Blood</strong> is an online blood bank service that works to encourage and inspire people to donate blood and provide fresh blood to needy ones to save their life. Our main objective is to act as a bridge between the blood donor and patient. Welfare of the society is our motto.</p>

                    <p>This website can match you with a donor near you in fraction of second. You can also register as a donor in this site and save someone’s life. The need is constant, and your contribution is important for a healthy and reliable blood supply.</p>

                    <p>Let us join together to save the world by donating blood. Moreover, you will feel good knowing you saved a life.</p>
                </div>
                <div class="blood-bank-snippet">
                </div>
                <div class="information introduction" style=" margin-bottom: 30px;">
                    <h2 class="page-title" style=" padding-bottom: 5px; border-bottom: 1.5px solid #d14461;"><span style=" color: #d14461; font-size: 24px; font-weight: 300;">Why Donate Blood? </span></h2>
                    <li>
                        Till date there no substitute for blood. Only donated blood can provide adequate supply of
                        blood to save life of those who need it. You give a second chance to someone unknown to you.
                        Sometimes it one who need blood could be a friend, family member or yourself.
                    </li>
                    <li>
                        Whenever you donate blood, the body can easily replenish the lost blood within 24-48 hours.
                        Hence you are welcoming new blood into your body. In that way there no loss.
                    </li>
                    <li>
                        Donating blood helps to maintain iron content in blood.
                    </li>
                    <li>
                        Whenever you donate you will be losing excess cholesterol accumulated in blood. Hence
                        reducing
                        the proximity of Heart Attacks.
                    </li>
                    <li>
                        A one unit of donated blood can save upto 3 people when supplied into three different
                        components
                        as Red blood cells, Fresh frozen plasma and Platelet concentrate/platelet rich plasma.
                    </li>
                    <li>
                        A self fulfillment for a lifetime of saving a person life during emergency.
                    </li>
                </div>
                <div class="sponsors-banner">
                </div>
                <div class="blood-bank-snippet">
                </div>
            </div>
            <div class="col-md-4 col-sm-4 right-content">
                <div class="side-bar-panel">
                    <div class="blood-request" style="align-content:center;">
                        <a class="btn btn-outline-danger mb-3" href="/Donor/New">Become a New Donor</a>
                    </div>
                    <div class="info-img">
                        <img src="https://www.nepalblood.com/images/blood.png" class="img-responsive" alt="Nepal Blood Donate Blood">
                    </div>

                    <div class="blood-bank-snippet">

                    </div>
                    <div class="blood-bank-snippet">

                    </div>
                </div>
            </div>
        </div>
    </div>

