
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

<a href="/Donor/Index" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Become a Donor</a>