@model BDMS.Shared.Common.DonorCommon
@{ ViewBag.Title = "Donor";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/assets/js/vendor/datatables/js/jquery.dataTables.min.js"></script>

@*
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
*@


<script type="text/javascript">
    $(document).ready(function () {
        $('#AllTaskList').DataTable({
            "responsive": true,
            "processing": false,
            "serverSide": false,
            "searchDelay": 1500,
            "ajax": {
                "type": 'z',
                "dataType": 'json',
                "url": "/Member/ListUsers",
                "contentType": 'application/json; charset=utf-8',
                'data': function (data) {
                    return data = JSON.stringify(data);
                    console.log(data);
                }
            },
            lengthMenu:
                [
                    [25, 50, 100],
                    ['25', '50', '100']
                ],
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            columns: [
                { 'data': 'ID', "orderable": true, "searchable": true },
                { 'data': 'FullName', "orderable": true },
                { 'data': 'UserName', "orderable": true, "searchable": true },
                { 'data': 'Email', "orderable": true },
                { 'data': 'PhoneNo', "orderable": true },
                { 'data': 'Action', "orderable": false },

            ],
            "columnDefs":
                [
                    { "className": "dt-center", "targets": "4" },
                    //  { "targets": 1, "className": "text-right" }
                ]
        });
    });

</script>

<div class="container listing-container card">
    <div class="panel-default">
        <div class="panel-heading list-heading">
            <div class="panel-body list-body">
                <div class="table-responsive">

                    <table id="AllTaskList" class="table table-hover" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>